extends layout

block content
  div.container-fluid
    h1 Admin Page
    h3 Welcome Admin
    div
      h2 Manage user accounts
      if Mess
        h3.message #{Mess}
      div 
        h3 Create a new user
        div.newuser
          form(action='/createUser' method="post")
            label(for="name") Name:
            input(type="text" name="name")
            label(for="email") Email Address:
            input(type="text" name="email")
            label(for="isadmin") Admin User
            input(type="radio" name="isadmin" value="Admin user")
            input(type="hidden" value=thisID, name="thisID")
            input(type="submit", value="Create User")
            
      div 
        h3 Delete a user
        div
          if users.length > 0
            table.users
              tr
                th ID
                th Name
                th Email
                th Remove
              tbody
                each user in users
                  tr
                    td #{user.StudentID}
                    td #{user.StudentName}
                    td #{user.Email}
                    td.button 
                      form(action='/deleteUser' method="post")
                        input(type="hidden", value=thisID, name='thisID')
                        input(type='hidden', value=user.StudentID, name='id')
                        if thisID == user.StudentID
                          input(type='submit', value='Delete' disabled)
                        else
                          input(type='submit', value='Delete')
                    
          else
            h3 No users available

     
        


