extends layout

block content
  
  - var page = 'course'
  div.container-fluid
    h1 Course Page
    div.row
      div.calendar
        if courseDetails
          h3 Calendar        
          table.gradable-items
            tr
              th Course Name
              th Gradable Item Name
              th Due Date
            each gradableItem in gradableItems
              tr
                td #{gradableItem.CourseName}
                td #{gradableItem.GradableItemName}
                td #{gradableItem.DueDate}
        else
          h3 You haven't added any courses.
      div.course-list
        h3 Course Details
        table.courses-details
            tr
              th            
            tr
              td #{CourseDetails.CourseName}
            tr
              td #{CourseDetails.PerceivedDifficulty}
            tr
              td #{CourseDetails.GradeGoal}
            tr
              td #{CourseDetails.CurrentGrade}
