extends layout

block content
  
  - var page = 'course'
  div.container-fluid
    div.row
      h1.course-title #{courseDetails.CourseName}
      div.progress-bar
        span.progress
    div.row
        div.calendar
          if courseDetails
            h3 Calendar        
            table.gradable-items
              tr
                th Gradable Item
                th Due Date
              each gradableItem in gradableItems
                tr
                  td #{gradableItem.GradableItemName}
                  td #{gradableItem.DueDate}
          else
            h3 You haven't added any courses.
        div.course-list
            if courseDetails
            h3
              table.course-details
                tr
                  th
                  th
                  th        
                tr
                  td Difficulty Level
                  td #{courseDetails.PerceivedDifficulty}
                  td
                    input.edit(type="submit", value='Edit')
                tr
                  td Grade Goal
                  td#gradegoal #{courseDetails.GradeGoal}
                  td#gradegoalinput 
                    input#goalinput(type="text" name="newGradeGoal" placeholder=courseDetails.GradeGoal)
                  td
                    button.edit#editgoal(type='button' onclick='editGradeGoal('+courseDetails.GradeGoal+')') Edit
                  td
                    button.submit#submitgoal(type='button' onclick='changeGradeGoal('+courseDetails.CourseID+')') Submit
               
                tr
                  td Current Grade
                  td #{courseDetails.CurrentGrade}
