extends layout

block content
  
  - var page = 'course'
  div.itemoverlay#GradableItemAddOverlay
    div.inneritemoverlay
      span.closeBtn(onclick='toggleAddGradableItem()',title="Toggle Overlay") x
      h2 Add new gradable items
      form(name='addGradableItemForm',action='/newGradableItem',method='post')
          input(type='hidden',name='courseID',value=courseDetails.CourseID)
          input(type='hidden',name='studentID',value=thisID)
          table#newgradableitem
            tr#row1
              th Name
              th Weight
              th Due Date
              th
            tr#2
              td
                input(type='text',name='GradableItems[0][name]', required=true)
              td
                input(type='text',name="GradableItems[0][weight]", required=true)
              td
                input(type='date',name='GradableItems[0][duedate]', required=true)
              td
                button.delete(type='button' onclick='RemoveRow(\'newgradableitem\',2)') X
          div.plus
            button.plus#addrow(onclick="addNewRow(\'newgradableitem\')")
          div
            input.submit(type='submit',value='Submit')
  div.container-fluid
    div.row
      button#editname(type='button' onclick='editCourseName()')
        h1.course-title#name(title="Edit course name") #{courseDetails.CourseName}
      input#nameinput(type="text", name="newName" placeholder=courseDetails.CourseName)
      button.submit#submitname(type='button' onclick='changeName('+courseDetails.CourseID+')') Submit
      div.progress-bar
        span.progress
    div.row
        div.calendar
          if courseDetails
            h3 Calendar        
            table.gradable-items
              tr
                th Recommended Study Time
                th Gradable Item
                th Due Date
              each gradableItem in gradableItems
                tr(onclick='expandGradableItem('+gradableItem.GradableItemID+')')
                  td #{gradableItem.RecommendedTime}
                  td #{gradableItem.GradableItemName}
                  td #{gradableItem.DueDate}
                tr(style='display:none',id=gradableItem.GradableItemID + "_details")
                  td(colspan=3)
                    table
                      tr
                        td Weight: #{gradableItem.Weight}%
                        if(gradableItem.CurrentGrade !== undefined && gradableItem.CurrentGrade > 0)
                          td Current Grade: #{gradableItem.CurrentGrade}
                        else
                          td Current Grade: N/A
                        if(gradableItem.StudiedTime !== undefined)
                          td Hours Spent: #{gradableItem.StudiedTime}
                        else
                          td Hours Spent: N/A
                        td &nbsp;
                      tr
                        td(colspan=2)
                          button(style='width:100%;height:100%',onclick='showEditForm(' + gradableItem.GradableItemID + ')') Edit
                        td
                          form(name='DeleteItem',action='/deleteitem',method='post',enctype='multipart/form-data')
                            input(type='hidden',name='id',value=gradableItem.GradableItemID)
                            input(type='hidden',name='course',value=gradableItem.CourseID)
                            input(type='hidden',name='user',value=thisID)
                            button(type='submit',style='width:100%;height:100%') delete
                tr(style='display:none',id=gradableItem.GradableItemID + "_edit")
                  td(colspan=4)
                    button(onclick='showEditForm(' + gradableItem.GradableItemID + ')') hide
                    form(name='EditItem',action='/editgradableitem',method='post',enctype='multipart/form-data')
                      input(type='hidden',name='id',value=gradableItem.GradableItemID)
                      input(type='hidden',name='course',value=gradableItem.CourseID)
                      input(type='hidden',name='user',value=thisID)
                      input(type='hidden',name='prevHours',value=gradableItem.StudiedTime)

                      table
                        tr
                          th Name
                          th Due Date
                          th Weight
                        tr
                          td
                            input.noPadding(type='text',name='name',value=gradableItem.GradableItemName)
                          td
                            input(type='date',name='date',value=gradableItem.DueDate)
                          td
                            input.noPadding(type='number',name='weight',value=gradableItem.Weight)
                        tr
                          th Current Grade
                          th Add Hours
                          th Needed Grade
                        tr
                          td
                            input.noPadding(type='number',name='grade',value=gradableItem.CurrentGrade)
                          td
                            input.noPadding(type='number',name='hours')
                          td
                            if (gradableItem.NeededGrade !== undefined)
                              p #{gradableItem.NeededGrade}
                            else
                              p N/A
                        tr
                          td(colspan=3)
                            input(type='submit')
          else
            h3 You haven't added any gradable items.
          div.plus
            button.plus(onclick="toggleAddGradableItem()")
        div.course-list
            if courseDetails
            h3
              table.course-details
                tr
                  th
                  th
                  th        
                tr
                  td Difficulty Level
                  td#diff #{courseDetails.PerceivedDifficulty}
                  td#difficultyinput
                    input#diffinput(type="text", name="newDifficulty" placeholder=courseDetails.PerceivedDifficulty)
                  td
                    button.edit#editdiff(type='button' onclick='editDifficulty()') Edit
                  td
                    button.submit#submitdiff(type='button' onclick='changeDifficulty('+courseDetails.CourseID+')') Submit
                tr
                  td Grade Goal
                  td#gradegoal #{courseDetails.GradeGoal}
                  td#gradegoalinput 
                    input#goalinput(type="text" name="newGradeGoal" placeholder=courseDetails.GradeGoal)
                  td
                    button.edit#editgoal(type='button' onclick='editGradeGoal('+courseDetails.GradeGoal+')') Edit
                  td
                    button.submit#submitgoal(type='button' onclick='changeGradeGoal('+courseDetails.CourseID+')') Submit
               
                tr
                  td Current Grade
                  td #{courseDetails.CurrentGrade} %
