extends layout

block content
    - var page = 'createcourse'
    - var n = 0;
    form(name='verifyInfoForm',action='/createcourse',method='post')
        input(type='hidden',name='user',value=studentID)
        table#addCourse
            tr
                td Name
                td
                    input(type='text',value=courseDetails.CourseName,name='name',required=true)
            tr
                th Name
                th Weight
                th Due Date
            each gradableItem,name in courseDetails.GradableItems
                tr(id=n)
                    td
                        input(type='text',value=name,name='GradableItems['+n+'][name]',required=true)
                    td
                        input(type='text',value=gradableItem.Weight,name="GradableItems["+n+"][weight]",required=true)
                    td
                        if(gradableItem.DueDate !== "" && gradableItem.DueDate !== undefined)
                            input(type='date',value=new Date(gradableItem.DueDate).toISOString().split('T')[0],name='GradableItems['+n+'][duedate]')
                        else
                            input(type='date')
                    td
                        button.delete(type='button' onclick='RemoveRow(\'addCourse\','+n+')') X
                - n++

        div.plus
            button.plus#addrow(onclick="addNewRow(\'addCourse\')")
        table#OtherDetails
            tr
                td Grade Goal
                td
                    input(type='number',name='gradegoal',min=50,max=100,required=true)
            tr
                td Perceived Difficulty (1-5)
                td
                    input(type='number',name='perceivedDiff',min=1,max=5,required=true)

        input(type='submit',value='Send')