extends layout

block content
  - var page = 'userhome'
  div.overlay(id='courseAddOverlay')
    span(class='closeBtn',onclick='toggleAddCourse()',title="Toggle Overlay") x
    div.overlay-content
      //input(id='outlineUpload',onchange='parsePDF("outlineUpload")',type='file')
      form(name='outlineUpload',action='/pdfparse',method='post',enctype='multipart/form-data')
        h1 Please upload a course outline PDF (optional)
        input(type="file",name="file",id="file")
        input(type='hidden',name='studentid',value=studentDetails.StudentID)
        input(type="submit")
  div.container-fluid
    button(class='openBtn',onclick='toggleAddCourse()',title="Toggle Overlay") Add New Course
    h1 Overview Page
    h3 Welcome #{studentDetails.StudentName}
    div.row
      div.calendar
        if courseDetails && courseDetails.length > 0
          h3 Calendar        
          table.gradable-items
            tr
              th Course Name
              th Gradable Item Name
              th Due Date
            each gradableItem in gradableItemDetails
              tr(onclick='expandGradableItem('+gradableItem.GradableItemID+')')
                td #{gradableItem.CourseName}
                td #{gradableItem.GradableItemName}
                td #{gradableItem.DueDate}
              tr(style='display:none',id=gradableItem.GradableItemID + "_details")
                td(colspan=3)
                    table
                      tr
                        td Weight: #{gradableItem.Weight}%
                        if(gradableItem.CurrentGrade!== undefined && gradableItem.CurrentGrade > 0)
                          td Current Grade: #{gradableItem.CurrentGrade}
                        else
                          td Current Grade: N/A
                        if(gradableItem.StudiedTime !== undefined)
                          td Hours Spent: #{gradableItem.StudiedTime}
                        else
                          td Hours Spent: N/A
                      tr
                        td(colspan=2)
                          button(style='width:100%;height:100%',onclick='showEditForm('+gradableItem.GradableItemID+')') Edit
                        td
                          form(name='DeleteItem',action='/deleteitem',method='post',enctype='multipart/form-data')
                            input(type='hidden',name='id',value=gradableItem.GradableItemID)
                            input(type='hidden',name='course',value=gradableItem.CourseID)
                            input(type='hidden',name='user',value=studentDetails.StudentID)
                            button(type='submit',style='width:100%;height:100%') delete
              tr(style='display:none',id=gradableItem.GradableItemID + "_edit",onclick='showEditForm('+gradableItem.GradableItemID+')')
                td(colspan=3)
                  form(name='EditItem',action='/editgradableitem',method='post',enctype='multipart/form-data')
                    input(type='hidden',name='id',value=gradableItem.GradableItemID)
                    input(type='hidden',name='course',value=gradableItem.CourseID)
                    input(type='hidden',name='user',value=studentDetails.StudentID)
                    table
                      tr
                        th Name
                        th Due Date
                        th Weight
                      tr
                        td
                          input.noPadding(type='text',name='name',value=gradableItem.GradableItemName)
                        td
                          input(type='date',name='date',value=gradableItem.DueDate)
                        td
                          input.noPadding(type='number',name='weight',value=gradableItem.Weight)
                      tr
                        th Current Grade
                        th Hours Spent
                        th Needed Grade
                      tr
                        td
                          input.noPadding(type='number',name='grade',value=gradableItem.CurrentGrade)
                        td
                          input.noPadding(type='number',name='hours',value=gradableItem.StudiedTime)
                        td
                          if (gradableItem.NeededGrade !== undefined)
                            p #{gradableItem.NeededGrade}
                          else
                            p N/A
                      tr
                        td(colspan=3)
                          input(type='submit')



        else
          h3 You haven't added any courses.
      div.course-list
        h3 Courses
        table.courses
            tr
              th Name
              th Current Grade
            each course in courseDetails
              tr
                td.courses 
                  form(action='/course' method="post")
                    input(type="hidden", value=thisID, name='thisID')
                    input(type="hidden", value=course.CourseID, name='courseID')
                    input.course(type='submit', value=course.CourseName)
                td #{course.CurrentGrade} %
